In [1]:
#Imports

import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import matplotlib as mp

%matplotlib inline 

import math
import random 
from datetime import timedelta
from datetime import datetime

import seaborn as sns
    
import warnings
warnings.filterwarnings('ignore')

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [2]:
# import dataset
df = pd.read_csv("assets/df.csv")
btc = pd.read_csv("assets/btc.csv")

In [3]:
df.set_index('date',inplace=True)
btc.set_index('date',inplace=True)

In [4]:
left = df.iloc[:,:1]
right = df.iloc[:,2:]
X = pd.concat([left,right],axis=1)
y = df['close']

In [5]:
X

,high,volume,market,close_ratio,spread,profit\loss,slug_dash,slug_ethereum,slug_litecoin,slug_monero,...,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September
date,,,,,,,,,,,,,,,,,,,,,
2014-03-30,0.000008,0.000033,0.000605,0.345404,0.000004,0.434083,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2014-03-31,0.000007,0.000046,0.000551,0.070657,0.000005,0.434081,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2014-04-01,0.000007,0.000032,0.000549,0.231190,0.000003,0.434087,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-04-02,0.000007,0.000058,0.000497,0.163623,0.000005,0.434081,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2014-04-03,0.000006,0.000032,0.000498,0.902468,0.000003,0.434088,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-09-08,0.015370,0.013091,0.009434,0.066964,0.008509,0.423180,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2018-09-09,0.014730,0.013099,0.009620,0.422078,0.005850,0.436296,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2018-09-10,0.014364,0.013116,0.009643,0.403226,0.002355,0.433552,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2018-09-11,0.014334,0.013224,0.009180,0.260606,0.006268,0.427797,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2018-09-12,0.013603,0.013621,0.009179,0.826667,0.005698,0.433485,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [6]:
from sklearn.model_selection import train_test_split
df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(X,y,test_size=0.25,random_state=15)

In [7]:
df_x_test

,high,volume,market,close_ratio,spread,profit\loss,slug_dash,slug_ethereum,slug_litecoin,slug_monero,...,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September
date,,,,,,,,,,,,,,,,,,,,,
2018-01-17,0.000977,1.927742e-02,0.084867,0.545010,8.561287e-04,0.433930,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2017-10-26,0.222708,1.082193e-02,0.017551,0.348910,3.658118e-02,0.414748,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
2018-04-30,0.376433,2.089466e-02,0.030494,0.267476,1.113777e-01,0.388466,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2018-01-27,0.000766,1.394404e-02,0.068644,0.362728,5.371199e-04,0.433723,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
2014-10-15,0.000004,4.421156e-05,0.001123,0.400000,3.418802e-07,0.434087,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2016-09-20,0.000256,2.068329e-07,0.000000,0.115497,1.025831e-04,0.433962,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2016-05-18,0.005659,4.362071e-05,0.000383,0.750000,6.077870e-04,0.434020,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2016-08-03,0.001257,3.571827e-05,0.000159,0.555556,6.837604e-04,0.434623,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2016-05-06,0.000005,1.276780e-04,0.001790,0.995283,8.053178e-07,0.434089,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2015-06-19,0.000009,3.096883e-04,0.002869,0.891555,3.958213e-06,0.434093,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0

In [8]:
from sklearn.tree import DecisionTreeRegressor
r_dt =DecisionTreeRegressor()
r_dt.fit(X,y)

DecisionTreeRegressor()

In [9]:
print(r_dt.tree_.max_depth)

37

In [10]:
df_y_pred = r_dt.predict(df_x_test)

In [11]:
lin_df_pred = pd.DataFrame({'Actual':df_y_test, 'Predicted':df_y_pred})
lin_df_pred

              Actual  Predicted
date
2018-01-17  0.000973   0.000973
2017-10-26  0.235847   0.235847
2018-04-30  0.389675   0.389675
2018-01-27  0.000755   0.000755
2014-10-15  0.000004   0.000004
...              ...        ...
2016-09-20  0.000258   0.000258
2016-05-18  0.006091   0.006091
2016-08-03  0.001294   0.001294
2016-05-06  0.000005   0.000005
2015-06-19  0.000009   0.000009

[2772 rows x 2 columns]

In [12]:
from sklearn import metrics
print('Mean Absolute Error: ',metrics.mean_absolute_error(df_y_test,df_y_pred))
print('Mean Squared Error: ', metrics.mean_squared_error(df_y_test, df_y_pred))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(df_y_test, df_y_pred)))
print('R^2 Error: ', metrics.r2_score(df_y_test, df_y_pred))

Mean Absolute Error:  2.3467603363484585e-21
Mean Squared Error:  1.2212928320389534e-39
Root Mean Squared Error:  3.494700032962705e-20
R^2 Error:  1.0

#### Bitcoin

In [14]:
btc_left = btc.iloc[:,:3]
btc_right = btc.iloc[:,4:]

In [16]:
btc_X = pd.concat([btc_left,btc_right],axis=1)
btc_y = btc['close']

In [17]:
from sklearn.model_selection import train_test_split
btc_x_train, btc_x_test, btc_y_train, btc_y_test = train_test_split(btc_X,btc_y,test_size=0.25,random_state=15)

In [18]:
from sklearn.tree import DecisionTreeRegressor
btc_r_dt =DecisionTreeRegressor()
btc_r_dt.fit(btc_X,btc_y)

DecisionTreeRegressor()

In [19]:
print(btc_r_dt.tree_.max_depth)

24

In [20]:
btc_y_pred = btc_r_dt.predict(btc_x_test)

In [21]:
lin_btc_pred = pd.DataFrame({'Actual':btc_y_test, 'Predicted':btc_y_pred})
lin_btc_pred

              Actual  Predicted
date
2017-10-15  0.307675   0.307675
2016-05-05  0.019777   0.019777
2014-08-11  0.027133   0.027133
2016-06-03  0.026721   0.026721
2016-10-13  0.030594   0.030594
...              ...        ...
2017-11-18  0.439258   0.439258
2016-09-11  0.028871   0.028871
2015-12-24  0.020178   0.020178
2017-02-10  0.050755   0.050755
2015-05-28  0.007712   0.007712

[459 rows x 2 columns]

In [22]:
from sklearn import metrics
print('Mean Absolute Error: ',metrics.mean_absolute_error(btc_y_test,btc_y_pred))
print('Mean Squared Error: ', metrics.mean_squared_error(btc_y_test, btc_y_pred))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(btc_y_test, btc_y_pred)))
print('R^2 Error: ', metrics.r2_score(btc_y_test, btc_y_pred))

Mean Absolute Error:  0.0
Mean Squared Error:  0.0
Root Mean Squared Error:  0.0
R^2 Error:  1.0