In [98]:
#Imports

import plotly.express as px
import plotly.graph_objects as go
import plotly.figure_factory as ff
from plotly.subplots import make_subplots

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import matplotlib as mp

%matplotlib inline 

import math
import random 
from datetime import timedelta
from datetime import datetime

import seaborn as sns
    
import warnings
warnings.filterwarnings('ignore')

from sklearn import preprocessing
from sklearn.preprocessing import StandardScaler

In [99]:
# import dataset
df = pd.read_csv("assets/df.csv")
btc = pd.read_csv("assets/btc.csv")

In [100]:
df.set_index('date',inplace=True)
btc.set_index('date',inplace=True)

#### eight-coin

In [101]:
print(df)

                high     close    volume    market  close_ratio    spread  \
date
2014-03-30  0.000008  0.000008  0.000033  0.000605     0.345404  0.000004
2014-03-31  0.000007  0.000007  0.000046  0.000551     0.070657  0.000005
2014-04-01  0.000007  0.000007  0.000032  0.000549     0.231190  0.000003
2014-04-02  0.000007  0.000006  0.000058  0.000497     0.163623  0.000005
2014-04-03  0.000006  0.000006  0.000032  0.000498     0.902468  0.000003
...              ...       ...       ...       ...          ...       ...
2018-09-08  0.015370  0.014910  0.013091  0.009434     0.066964  0.008509
2018-09-09  0.014730  0.015207  0.013099  0.009620     0.422078  0.005850
2018-09-10  0.014364  0.015240  0.013116  0.009643     0.403226  0.002355
2018-09-11  0.014334  0.014507  0.013224  0.009180     0.260606  0.006268
2018-09-12  0.013603  0.014507  0.013621  0.009179     0.826667  0.005698

            profit\loss  slug_dash  slug_ethereum  slug_litecoin  ...  \
date                                                              ...
2014-03-30     0.434083          0              0              0  ...
2014-03-31     0.434081          0              0              0  ...
2014-04-01     0.434087          0              0              0  ...
2014-04-02     0.434081          0              0              0  ...
2014-04-03     0.434088          0              0              0  ...
...                 ...        ...            ...            ...  ...
2018-09-08     0.423180          0              0              0  ...
2018-09-09     0.436296          0              0              0  ...
2018-09-10     0.433552          0              0              0  ...
2018-09-11     0.427797          0              0              0  ...
2018-09-12     0.433485          0              0              0  ...

            month_name_December  month_name_February  month_name_January  \
date
2014-03-30                    0                    0                   0
2014-03-31                    0                    0                   0
2014-04-01                    0                    0                   0
2014-04-02                    0                    0                   0
2014-04-03                    0                    0                   0
...                         ...                  ...                 ...
2018-09-08                    0                    0                   0
2018-09-09                    0                    0                   0
2018-09-10                    0                    0                   0
2018-09-11                    0                    0                   0
2018-09-12                    0                    0                   0

            month_name_July  month_name_June  month_name_March  \
date
2014-03-30                0                0                 1
2014-03-31                0                0                 1
2014-04-01                0                0                 0
2014-04-02                0                0                 0
2014-04-03                0                0                 0
...                     ...              ...               ...
2018-09-08                0                0                 0
2018-09-09                0                0                 0
2018-09-10                0                0                 0
2018-09-11                0                0                 0
2018-09-12                0                0                 0

            month_name_May  month_name_November  month_name_October  \
date
2014-03-30               0                    0                   0
2014-03-31               0                    0                   0
2014-04-01               0                    0                   0
2014-04-02               0                    0                   0
2014-04-03               0                    0                   0
...                    ...                  ...                 ...
2018-09-08               0                    0                   0
2018-09-09               0                    0                   0
2018-09-10               0                    0                   0
2018-09-11               0                    0                   0
2018-09-12               0                    0                   0

            month_name_September
date
2014-03-30                     0
2014-03-31                     0
2014-04-01                     0
2014-04-02                     0
2014-04-03                     0
...                          ...
2018-09-08                     1
2018-09-09                     1
2018-09-10                     1
2018-09-11                     1
2018-09-12                     1

[11087 rows x 106 columns]

In [102]:
left = df.iloc[:,:1]
right = df.iloc[:,2:]
X = pd.concat([left,right],axis=1)
y = df['close']

In [103]:
from sklearn.model_selection import train_test_split
df_x_train, df_x_test, df_y_train, df_y_test = train_test_split(X,y,test_size=0.25,random_state=15)

In [104]:
from sklearn.linear_model import LinearRegression
df_regressor = LinearRegression()
df_regressor.fit(df_x_train, df_y_train)
df_y_pred = df_regressor.predict(df_x_test)

In [121]:
print(df_regressor.coef_)

[ 1.07666671e+00 -1.74087262e-03  2.21839951e-03  8.19239837e-04
 -9.02085209e-02  4.66721672e-02 -1.30406089e+10 -3.13873994e+10
  2.71353192e+10 -5.83179463e+09 -2.22758939e+10  7.89495870e+09
 -6.04591804e+09  1.67708384e+10 -4.74250434e+10 -2.03845601e+09
  5.05745972e+10 -8.51291490e+10  2.68989554e+10 -7.45669202e+10
 -5.85617023e+10 -3.50370600e+10 -1.07829832e+10 -3.02890796e+10
 -2.63977893e+10 -1.42528572e+10 -3.31231209e+10  2.65370335e+09
 -1.78460394e+10  7.90606303e+09 -1.46642124e+10 -2.20619310e+10
 -6.48105072e+10 -1.87300797e+10 -6.01336516e+10 -2.95956316e+10
 -1.76684453e+10 -1.44622694e+11 -7.93390302e+09 -7.93390302e+09
 -7.93390302e+09 -7.93390302e+09 -7.93390302e+09  2.40941606e+10
 -1.04644500e+11 -3.32757597e+09 -5.51227166e+09  7.35746332e+09
 -7.20244535e+09 -1.92796635e+10 -1.96605187e+10 -3.26775111e+10
 -9.82256612e+09 -1.13659687e+09 -3.39705825e+10 -3.41359321e+09
 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09
 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09
 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09
 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09
 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09
 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09
 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09 -3.41359321e+09
 -3.41359321e+09 -3.41359321e+09 -3.94769591e+10 -3.94769591e+10
 -3.94769591e+10 -3.94769591e+10 -3.94769591e+10 -3.94769591e+10
 -3.94769591e+10  8.59357727e+08 -1.72837089e+10 -1.29080341e+10
 -2.57777691e+10 -4.25144664e+10 -8.59773963e+09  1.42572054e+10
 -1.12178604e+10  1.24021298e+09 -1.50927298e+10  8.62241943e+10
  1.55502767e+10]

In [122]:
print(df_regressor.intercept_)

162555327696.1063

In [105]:
lin_df_pred = pd.DataFrame({'Actual':df_y_test, 'Predicted':df_y_pred})
lin_df_pred

              Actual  Predicted
date
2018-01-17  0.000973   0.001068
2017-10-26  0.235847   0.235352
2018-04-30  0.389675   0.392792
2018-01-27  0.000755   0.000763
2014-10-15  0.000004   0.000214
...              ...        ...
2016-09-20  0.000258  -0.000031
2016-05-18  0.006091   0.005920
2016-08-03  0.001294   0.001282
2016-05-06  0.000005   0.000275
2015-06-19  0.000009   0.000214

[2772 rows x 2 columns]

In [106]:
from sklearn import metrics
print('Mean Absolute Error: ',metrics.mean_absolute_error(df_y_test,df_y_pred))
print('Mean Squared Error: ', metrics.mean_squared_error(df_y_test, df_y_pred))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(df_y_test, df_y_pred)))
print('R^2 Error: ', metrics.r2_score(df_y_test, df_y_pred))

Mean Absolute Error:  0.00047404438449063943
Mean Squared Error:  1.5073470727380154e-06
Root Mean Squared Error:  0.001227740637405969
R^2 Error:  0.9998925449063348

#### BTC

In [108]:
btc

,open,high,low,close,volume,market,close_ratio,spread,profit\loss,slug_bitcoin,...,month_name_December,month_name_February,month_name_January,month_name_July,month_name_June,month_name_March,month_name_May,month_name_November,month_name_October,month_name_September
date,,,,,,,,,,,,,,,,,,,,,
2013-08-09,0.000015,0.000102,0.000000,0.000000,0.000000,0.000000,0.227749,0.001175,0.357711,1,...,0,0,0,0,0,0,0,0,0,0
2013-08-10,0.000000,0.000000,0.000029,0.000011,0.000000,0.000010,0.395973,0.000194,0.358071,1,...,0,0,0,0,0,0,0,0,0,0
2013-08-11,0.000011,0.000071,0.000050,0.000126,0.000000,0.000090,0.922131,0.000594,0.359448,1,...,0,0,0,0,0,0,0,0,0,0
2013-08-12,0.000126,0.000226,0.000095,0.000220,0.000000,0.000157,0.697778,0.001462,0.359173,1,...,0,0,0,0,0,0,0,0,0,0
2013-08-13,0.000240,0.000300,0.000165,0.000355,0.000000,0.000252,0.925532,0.001546,0.359456,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2018-08-14,0.363799,0.358556,0.377719,0.364238,0.261165,0.375662,0.435806,0.119841,0.364637,1,...,0,0,0,0,0,0,0,0,0,0
2018-08-15,0.364278,0.357460,0.377604,0.363700,0.255569,0.375153,0.437213,0.112250,0.351056,1,...,0,0,0,0,0,0,0,0,0,0
2018-08-16,0.363767,0.356991,0.377423,0.364234,0.251202,0.375745,0.493449,0.109909,0.365012,1,...,0,0,0,0,0,0,0,0,0,0
2018-08-17,0.364249,0.357873,0.377180,0.363002,0.246743,0.374522,0.396273,0.118356,0.342117,1,...,0,0,0,0,0,0,0,0,0,0
2018-08-18,0.362951,0.357297,0.377269,0.363505,0.247009,0.375082,0.440895,0.113329,0.366177,1,...,0,0,0,0,0,0,0,0,0,0

In [109]:
btc_left = btc.iloc[:,:3]
btc_right = btc.iloc[:,4:]

In [110]:
btc_X = pd.concat([btc_left,btc_right],axis=1)

In [111]:
btc_y = btc['close']

In [112]:
btc[['close']]

               close
date
2013-08-09  0.000000
2013-08-10  0.000011
2013-08-11  0.000126
2013-08-12  0.000220
2013-08-13  0.000355
...              ...
2018-08-14  0.364238
2018-08-15  0.363700
2018-08-16  0.364234
2018-08-17  0.363002
2018-08-18  0.363505

[1836 rows x 1 columns]

In [113]:
from sklearn.model_selection import train_test_split
btc_x_train, btc_x_test, btc_y_train, btc_y_test = train_test_split(btc_X,btc_y,test_size=0.25,random_state=15)

In [114]:
from sklearn.linear_model import LinearRegression
btc_regressor = LinearRegression()
btc_regressor.fit(btc_x_train, btc_y_train)
btc_y_pred = btc_regressor.predict(btc_x_test)

In [123]:
print(btc_regressor.coef_)

[ 9.99823737e-01 -1.50482748e-02  1.36634317e-02  1.24466409e-16
 -1.25004174e-14 -4.01154804e-17  1.96503285e-03  7.48652281e-02
  4.75780491e-03 -6.12089004e-02  3.50108348e-03  4.78144589e-03
  3.48036036e-03  3.48036036e-03  3.48036036e-03  3.48036036e-03
  3.48036036e-03  3.48036036e-03 -7.34950133e-03 -2.53554750e-03
 -2.41631152e-03 -4.66189249e-03 -2.11480411e-03 -6.92359428e-06
 -1.31467430e-03 -8.90536633e-04 -7.57263905e-03 -9.90356898e-03
 -1.78695718e-02 -1.20284234e-02  1.95599603e-04  1.95599603e-04
  1.95599603e-04  1.95599603e-04  1.95599603e-04  1.95599603e-04
  1.95599603e-04  1.95599603e-04  1.95599603e-04  1.95599603e-04
  1.95599603e-04  1.95599603e-04  1.95599603e-04  1.95599603e-04
  1.95599603e-04  1.95599603e-04  1.95599603e-04  1.95599603e-04
  1.95599603e-04  1.95599603e-04  1.95599603e-04  1.95599603e-04
  1.95599603e-04  1.95599603e-04  1.95599603e-04  1.95599603e-04
  1.95599603e-04  1.95599603e-04  1.95599603e-04  1.95599603e-04
  1.95599603e-04 -6.51220397e-04 -6.51220397e-04 -6.51220397e-04
 -6.51220397e-04 -6.51220397e-04 -6.51220397e-04 -6.51220397e-04
 -5.80500940e-03  1.07498881e-02 -2.45779121e-03 -5.00487959e-03
  2.29817638e-04  2.78388529e-03  4.52955355e-04 -7.11276010e-03
 -6.22914706e-03 -4.70337218e-03 -4.58413619e-03  4.90873975e-03]

In [115]:
lin_pred2 = pd.DataFrame({'Actual':btc_y_test, 'Predicted':btc_y_pred})
lin_pred2

              Actual  Predicted
date
2017-10-15  0.307675   0.307675
2016-05-05  0.019777   0.019777
2014-08-11  0.027133   0.027133
2016-06-03  0.026721   0.026721
2016-10-13  0.030594   0.030594
...              ...        ...
2017-11-18  0.439258   0.439258
2016-09-11  0.028871   0.028871
2015-12-24  0.020178   0.020178
2017-02-10  0.050755   0.050755
2015-05-28  0.007712   0.007712

[459 rows x 2 columns]

In [116]:
from sklearn import metrics
print('Mean Absolute Error: ',metrics.mean_absolute_error(btc_y_test,btc_y_pred))
print('Mean Squared Error: ', metrics.mean_squared_error(btc_y_test, btc_y_pred))
print('Root Mean Squared Error: ', np.sqrt(metrics.mean_squared_error(btc_y_test, btc_y_pred)))
print('R^2 Error: ', metrics.r2_score(btc_y_test, btc_y_pred))

Mean Absolute Error:  2.1697353862001932e-16
Mean Squared Error:  9.01323079042846e-32
Root Mean Squared Error:  3.0022043218989044e-16
R^2 Error:  1.0